.text {
  font-weight: var(--font-weight-regular);
  line-height: 1.5;

  &.medium-size {
    font-size: 1.6rem;
  }

  &.small-size {
    font-size: 1.2rem;
  }

  &.italic-style {
    font-style: italic;
  }

  &.normal-style {
    font-style: normal;
  }
}
