:root {
  --bluish-light: #abc1e1;
  --gray-light: #f4f6fa;
  --green: #26d782;
  --navy-dark: #313e51;
  --navy-gray: #626c7f;
  --navy: #3b4d66;
  --pure-white: #ffffff;
  --purple: #a729f5;
  --red: #ee5454;

  background-color: var(--navy-dark);
  color: var(--pure-white);
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--pure-white);
    color: var(--navy-dark);
  }
}
